@model IReadOnlyList<ProductViewModel>
@{
    ViewData["Title"] = "Products";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Products</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index">Products</a></li>
        <li class="breadcrumb-item active">List</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body d-flex justify-content-end">
            <a class="btn btn-success" asp-action="Create">Add New Product</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>
                                <img class="w-25" src="@(string.IsNullOrEmpty(@product.PictureUrl) ? "/images/no-photo.jpg" : $"{product.PictureUrl}")" 
                                     alt="@product.Name" 
                                     title="@product.Name" />
                            </td>
                            <td>@product.Name</td>
                            <td>@product.Description</td>
                            <td>@product.Price</td>
                            <td>@product.Brand</td>
                            <td>@product.Category</td>
                            <partial name="_ButtonsPartial" model="@product.Id" />
                        </tr>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal-@product.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteModal-@product.Id">Delete Product</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you would like to do this?
                                    </div>
                                    <div class="modal-footer">
                                        <form asp-action="Delete" asp-route-id="@product.Id" method="post">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
